body{
    margin: 0px;
    border: 0px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background-image: url(./img/2RBVLGMHIVHBPI7DHUJ7POLU2I.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    position: relative;
}

.logo{
    max-width: 100px;
    position: fixed;
    top: 85%;
    left: 45%;
    margin: 15px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: whitesmoke;
    text-decoration: underline;
}

.paginas{
   display: flex;
   gap: 200px;
   position: fixed;
   bottom: 0;
   width: 100%;
   margin: 50px 50px 10px 350px;
}

.linha{
    border: none;
    height: 2px;
    background-color: #e50914;
    width: 60%;
    position: fixed;
    bottom: 0;        
    left: 50%;
    transform: translateX(-50%);
}

.formulario{
  background-color: rgba(0, 0, 0, 0.6); 
  color: #fff;
  width: 400px;
  height: 550px;
  padding: 25px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

fieldset{
    border-radius: 10px;
}
.elementos{
    margin: 10px;
    padding: 10px;
}
.botao {
  padding: 5px 7px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}


.enviar{
  background-color: #e50914;
  color: white;
}

.enviar:hover{
  background-color: #b20710;
}

.limpar{
  background-color: #444;
  color: white;
}

.limpar:hover{
  background-color: #222;
}
input, select, textarea{
  width: 100px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 12px;
}



