body{
    margin: 0px;
    border: 0px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background-image: url(./img/2RBVLGMHIVHBPI7DHUJ7POLU2I.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    position: relative;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: whitesmoke;
    text-decoration: underline;
}

.paginas{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center; 
    gap: 170px;
    border-bottom: 7px;
}
h1{
    margin: 15px;
    margin-left: 15px;
    position: relative;
}

.logo{
    max-width: 100px;
    position: fixed;
    top: 85%;
    left: 45%;
    margin: 15px;
}

.imagens{
    width: 270px;
    height: 180px;
    border-radius: 10px;
}
.linha{
    border: none;
    height: 2px;
    background-color: #e50914;
    width: 60%;
    position: fixed;
    bottom: 0;        
    left: 50%;
    transform: translateX(-50%);
}


